.bg {
    background-image: url("../image/bg.jpg");
    height:44.5rem;
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}