.box {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 500px;
    height: 590px;
    padding: 20px;
    background: rgba(153, 153, 153, 0.5);
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0,0,0,.6);
    border-radius: 10px;
  }

.box1 {
    position: absolute;
    top: 20%;
    left: 52%;
    width: 200px;
    height: 200px;
    padding: 10px;
    background: rgba(153, 153, 153, 0.5);
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0,0,0,.6);
    border-radius: 10px;
}

.box2 {
    position: absolute;
    top: 20%;
    left: 70%;
    width: 200px;
    height: 200px;
    padding: 10px;
    background: rgba(153, 153, 153, 0.5);
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0,0,0,.6);
    border-radius: 10px;
}

.box3 {
    position: absolute;
    top: 60%;
    left: 52%;
    width: 200px;
    height: 200px;
    padding: 10px;
    background: rgba(153, 153, 153, 0.5);
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0,0,0,.6);
    border-radius: 10px;
}

.box4 {
    position: absolute;
    top: 60%;
    left: 70%;
    width: 200px;
    height: 200px;
    padding: 10px;
    background: rgba(153, 153, 153, 0.5);
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0,0,0,.6);
    border-radius: 10px;
}